[Unit]
Description=Responder
After=multi-user.target

[Service]
Type=simple
#simple
User=root
Group=root
WorkingDirectory=/opt/Responder/
PIDFile=/var/run/responder.pid
ExecStart=/opt/Responder/Responder.py
Restart=on-failure
#always
KillSignal=SIGQUIT
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
#TimeoutStartSec=10
#RestartSec=10

[Install]
WantedBy=multi-user.target
